<app-left-menu></app-left-menu>

<section>
    <div class="table-box">
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Ano de consulta</mat-label>
                <input matInput placeholder="Digite o ano">
            </mat-form-field>

            <button mat-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>filter_list</mat-icon>
            </button>
        </p>
    </div>
    <div class="table-box">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container *ngFor="let column of displayedColumns">
                <ng-container [matColumnDef]="column.name">
                    <th class="text-center" mat-header-cell *matHeaderCellDef [ngStyle]="column.style"> {{column.name}} </th>
                    <td class="text-center" mat-cell *matCellDef="let element" [ngStyle]="column.style">
                        <span>{{element[column.name]}}</span>
                    </td>
                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        </table>
    </div>
</section>
