section {
    margin-top: 50px;
}

.table-box {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

th {
    font-size: 13px;
    text-transform: capitalize;
    color: black;
}

td {
    font-size: 12px;
}

p {
    margin: 5px;
}