/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: monospace;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    z-index: 1000;
}