/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: monospace;
    background-color: #edeaed;
}

.category-icon-circle {
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar {
    width: 7px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #001bb0;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    z-index: 1000;
}

mat-card {
    border-radius: 1px !important;
}

mat-expansion-panel {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: solid 1px #00000033;
}