<app-action
    [title]="title"
    (onClose)="onClose()">
</app-action>

<div class="form-box">
    <mat-form-field class="input" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="category.name" maxlength="50" placeholder="Ex. Salario ou Faculdade" [formControl]="categoryName" required>
        <mat-error *ngIf="categoryName.invalid">{{getCategoryNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <br><br>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="category.categoryType" [formControl]="categoryType" required>
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryType.invalid">{{getCategoryTypeErrorMessage()}}</mat-error>
    </mat-form-field>

    <br><br><br><br>

    <button mat-flat-button color="primary" (click)="onSave()">Salvar</button>

</div>
