<div mat-dialog-content>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="onSelect()" [disabled]="isDisabled">
            <mat-option *ngFor="let item of categories;" [value]="item">
                <div style="display: flex; align-items: center;">
                    <span class="category-icon-circle"
                        [ngStyle]="{'background-color':item.color}">
                        <mat-icon class="icon" style="margin-right: 0;">{{item.icon}}</mat-icon>
                    </span>
                        &nbsp;
                    {{item.name}}
                </div>
            </mat-option>

            <!-- Aqui eu mostro apenas o que eu quero quando selecionado :D -->
            <mat-select-trigger>
                <ng-container *ngIf="selectedValue">
                    {{selectedValue.name}}
                </ng-container>
            </mat-select-trigger>
        </mat-select>
    </mat-form-field>

    <div *ngIf="selectedValue">
        <mat-form-field appearance="legacy" class="full-width">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="subCategory.name" matInput placeholder="Exemplo: Aluguel">
        </mat-form-field>
    </div>

</div>
<br>
<br>

<div>
    <button mat-stroked-button [mat-dialog-close]="subCategory" *ngIf="selectedValue">Salvar</button>
    &nbsp;
    <button mat-stroked-button (click)="onClose()">Cancelar</button>
</div>

