<app-left-menu></app-left-menu>

<section>
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Despesas">

            <div class="table-box">
                <app-list
                    [data]="dataSource"
                    [displayedColumns]="displayedColumns">
                </app-list>
            </div>

            <div><br><br><br></div>
            <span class="done">
                <button mat-fab type="button" color="primary" (click)="onAdd()" matTooltip="Nova categoria">
                    <mat-icon>add</mat-icon>
                </button>
            </span>

        </mat-tab>

        <mat-tab label="Recebimentos">

            <div class="table-box">
                <app-list
                    [data]="dataSource2"
                    [displayedColumns]="displayedColumns">
                </app-list>
            </div>

            <div><br><br><br></div>
            <span class="done">
                <button mat-fab type="button" color="primary" (click)="onAdd()" matTooltip="Nova categoria">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
        </mat-tab>
    </mat-tab-group>

</section>