<h2 mat-dialog-title>Selecionar Categoria e Conta</h2>

<mat-dialog-content>

    <mat-form-field class="example-half-width" appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="categorySelected">

            <ng-container *ngFor="let item of categorySubCategoryList">
                <mat-option [value]="item.category">
                    <div style="display: flex; align-items: center;">
                        <span class="category-icon-circle"
                            [ngStyle]="{'background-color': item.category.color }">
                            <mat-icon class="icon"> {{item.category.icon}} </mat-icon>
                        </span>
                        &nbsp;&nbsp;
                        <span>
                            {{item.category.name}}
                        </span>
                    </div>
                </mat-option>

                <ng-container *ngFor="let subCategory of item.subCategory">
                    <mat-option [value]="subCategory">
                        <span>
                            <i [ngStyle]="{'color': item.category.color }" class="mark-circle">&#xf111;</i>
                            &nbsp;&nbsp;
                            {{subCategory.name}}
                        </span>
                    </mat-option>
                </ng-container>
            </ng-container>

            <mat-select-trigger>
                <ng-container *ngIf="categorySelected">
                    {{categorySelected.name}}
                </ng-container>
            </mat-select-trigger>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-half-width" appearance="fill">
        <mat-label>Conta/Cartão</mat-label>
        <mat-select [(ngModel)]="accountSelected">
            <mat-optgroup *ngFor="let item of accountAndCreditCards"
                [label]="item.name">

                <mat-option *ngFor="let creditCard of item.list" [value]="creditCard">
                    {{creditCard.name}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

<!--
    <div *ngIf="selectedGroup" class="validation-card">
        <h3>Transações da Categoria "{{ selectedGroup.category }}"</h3>

        <mat-list>
            <mat-list-item *ngFor="let tx of selectedGroup.transactions">
                {{ tx.date }} - R$ {{ tx.amount.toFixed(2) }} - {{ tx.description }}
            </mat-list-item>
        </mat-list>
    </div>
-->
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="confirm()"
        [disabled]="!categorySelected || !accountSelected">
        Confirmar
    </button>
</mat-dialog-actions>