<app-left-menu></app-left-menu>

<div class="container">
    <h1>Fundos Imobiliários</h1>

    <br>

    <mat-card>
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Pesquisar fundo</mat-label>
            <input matInput [(ngModel)]="filtro" placeholder="Digite o código">

            <!-- Agrupar os suffixes -->
            <div matSuffix style="display: flex; align-items: center;">
                <button mat-icon-button *ngIf="filtro" (click)="filtro=''">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button (click)="getFii()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </mat-form-field>

        <div class="resumo-grid">
            <mat-card class="resumo-card" *ngFor="let item of resumo.slice(0, 6)">
                <div class="resumo-conteudo">
                    <div class="titulo">{{ item.titulo }}</div>
                    <div class="valor">{{ item.valor }}</div>
                </div>
            </mat-card>
        </div>
        <br>
        <mat-card class="resumo-card">
            <div class="">
                <div class="titulo">{{ resumo[6].titulo }}</div>
                <div class="valor">{{ resumo[6].valor }}</div>
            </div>
        </mat-card>


        <br><br><br>
        <div class="charts-box">
            <div echarts [options]="option" class="chart2-style"></div>
        </div>

        <br>
        <div class="quatro-cards-container">
            <mat-card class="quatro-card" *ngFor="let item of resumo.slice(7, 11)">
                <div class="quatro-conteudo">
                    <div class="quatro-titulo">{{ item.titulo }}</div>
                    <div class="quatro-valor">{{ item.valor }}</div>
                </div>
            </mat-card>
        </div>

        <br>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lista de Fundos (Clique para expandir)
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="tabela-scroll">
                    <table mat-table [dataSource]="fundos" class="mat-elevation-z1 tabela-fundos">

                        <!-- Coluna 1: Código -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Tipo </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.tipo }} </td>
                        </ng-container>

                        <!-- Coluna 2: Nome -->
                        <ng-container matColumnDef="dataCom">
                            <th mat-header-cell *matHeaderCellDef> Data com </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.dataCom }} </td>
                        </ng-container>

                        <!-- Coluna 3: Setor -->
                        <ng-container matColumnDef="pagamento">
                            <th mat-header-cell *matHeaderCellDef> Pagamento </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.pagamento }} </td>
                        </ng-container>

                        <!-- Coluna 4: Cotação -->
                        <ng-container matColumnDef="cotacao">
                            <th mat-header-cell *matHeaderCellDef> Cotação </th>
                            <td mat-cell *matCellDef="let fundo"> R$ {{ fundo.cotacao }} </td>
                        </ng-container>

                        <!-- Coluna 5: Dividend Yield -->
                        <ng-container matColumnDef="valor">
                            <th mat-header-cell *matHeaderCellDef> Valor (R$) </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.valor }}% </td>
                        </ng-container>

                        <!-- Coluna 6: Liquidez -->
                        <ng-container matColumnDef="yield">
                            <th mat-header-cell *matHeaderCellDef> Yield (%) </th>
                            <td mat-cell *matCellDef="let fundo"> R$ {{ fundo.yield }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="colunasGrafico"></tr>
                        <tr mat-row *matRowDef="let row; columns: colunasGrafico;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card>

    <br>

    <mat-card>
        <div class="cards-container">
            <mat-card class="painel-card">
                <mat-card-title>Maiores Altas</mat-card-title>
                <div class="table-wrapper">
                    <table mat-table [dataSource]="altas" class="mat-elevation-z2">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.codigo }} </td>
                        </ng-container>

                        <ng-container matColumnDef="valor">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.valor }} </td>
                        </ng-container>

                        <ng-container matColumnDef="dividendYield">
                            <th mat-header-cell *matHeaderCellDef> Variação </th>
                            <td mat-cell *matCellDef="let fundo" style="color: green;"> {{ fundo.dividendYield }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
                    </table>
                </div>
            </mat-card>

            <mat-card class="painel-card">
                <mat-card-title>Maiores Baixas</mat-card-title>
                <div class="table-wrapper">
                    <table mat-table [dataSource]="baixas" class="mat-elevation-z2">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.codigo }} </td>
                        </ng-container>

                        <ng-container matColumnDef="valor">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let fundo"> {{ fundo.valor }} </td>
                        </ng-container>

                        <ng-container matColumnDef="dividendYield">
                            <th mat-header-cell *matHeaderCellDef> Variação </th>
                            <td mat-cell *matCellDef="let fundo" style="color: #db0000;"> {{ fundo.dividendYield }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
                    </table>
                </div>
            </mat-card>
        </div>

        <br><br>

        <mat-card-title>Fundos Sugeridos</mat-card-title>

        <div class="mini-cards-wrapper">
            <mat-card class="mini-card" *ngFor="let fundo of sugeridos">
                <div class="mini-card-header">
                    <span class="sigla">{{ fundo.codigo }}</span>
                    <span class="porcentagem" style="color: blue;">
                        {{ fundo.dividendYield }}
                    </span>
                </div>
                <div class="valor">R$ {{ fundo.valor }}</div>
                <div class="info">
                    <strong>Cotação:</strong> {{ fundo.valor }}<br>
                    <strong>Dividend Yield:</strong> {{ fundo.dividendYield }}%
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>