<app-left-menu></app-left-menu>

<div class="general-box">
    <div *ngIf="!onEditEcreen">

        <div class="edit-add-button-box">
            <span class="title-text">
                Cartões de Crédito
            </span>
            <button (click)="onAddCard(null)" mat-flat-button color="primary">Adicionar cartão</button>
        </div>

        <div class="itens-box">
            <ul>
                <ng-container *ngFor="let item of data; let i = index">
                    <li (click)="onOpenEdit(item)">
                        <div class="image-box" [ngStyle]="{'background-color': item.color }">
                            <mat-icon class="icon">
                                {{item.icon}}
                            </mat-icon>
                        </div>
                        <div class="item-text">
                            {{item.name}}
                        </div>

                        <div class="button-edit-box">
                            <mat-icon class="icon-button">chevron_right</mat-icon>
                        </div>
                    </li>
                    <hr *ngIf="i < data.length-1" class="simple-horizontal-line">
                </ng-container>
            </ul>
        </div>
    </div>

    <div *ngIf="onEditEcreen">
        <div class="edit-add-button-box">
            <div class="button-edit-back-box">
                <div class="icon-back-box" (click)="onOpenList()">
                    <mat-icon>arrow_back</mat-icon>
                </div>
                <div class="image-box">
                    <img src="../../assets/banco-teste.png" alt="" srcset="">
                </div>
                <div class="item-text">
                    <span class="title-edit-text">{{selectedCard.name}}</span>
                    <div>
                        <small>Fecha dia {{selectedCard.closingDate}} / Vence dia {{selectedCard.dueDate}}</small>
                    </div>
                </div>
            </div>
            <div>
                <span class="edit-button">Editar</span>
                <span (click)="onDisable(selectedCard.id!)" class="delete-button">Deletar</span>
            </div>
        </div>

        <div class="edit-card-info-box">
            <div class="current-invoice-box">
                <div class="invoice-box">
                    <span class="invoice-title"> Fatura atual </span>
                    <div>
                        <span class="invoice-value-text"> R$ -55,00 </span>
                        <span class="view-button">Ver fatura</span>
                    </div>
                </div>
                <small>Limite disponível de R$ -50,00</small>
            </div>
        </div>
    </div>
</div>
