<div mat-dialog-content>

    <div class="example-box">
        <span class="category-icon-circle icon-box" [ngStyle]="styleColor"><mat-icon class="icon">{{category.icon}}</mat-icon></span>
        &nbsp;
        <span>{{category.name}}</span>
    </div>

    <br><br>

    <label for="favcolor">Selecione a cor do circulo:</label>&nbsp;
    <input type="color" (change)="changeColor()" [(ngModel)]="category.color">

    <br><br>

    <mat-form-field appearance="legacy">
        <mat-label>Icone</mat-label>
        <input [(ngModel)]="category.icon" matInput placeholder="Exemplo: love">
    </mat-form-field>
    Icones:&nbsp;
    <a href="https://fonts.google.com/icons" target="_blank">google icons</a>

    <br>

    <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Categoria</mat-label>
        <input [(ngModel)]="category.name" matInput placeholder="Exemplo: Casa">
    </mat-form-field>

</div>
<br>
<br>

<div>
    <button mat-stroked-button [mat-dialog-close]="category">Salvar</button>
    &nbsp;
    <button mat-stroked-button (click)="onClose()">Cancelar</button>
</div>
