<app-left-menu></app-left-menu>

<!--
    style="margin: auto; width: 70%;"
-->

<div>
    <div class="general-box">
        <div class="left-box">
            <div class="card card-left hello-card">
                <span class="hello-text">
                    OIIII Felipe Ferreira!
                    <br><br>
                    <span class="money-size">R$ {{balance}}</span>
                    <br>
                    saldo geral
                </span>
            </div>

            <div class="card card-left content-card">
                <span class="title-text">
                    Minhas contas
                </span>

                <div class="box-content" *ngFor="let item of accounts; let i = index">
                    <div style="
                            display: flex;
                            align-items: center;
                            margin: 15px 0px;
                        ">
                        <div class="category" style="
                                display: flex;
                                align-items: center;
                            ">
                            <span class="category-icon-circle" [ngStyle]="{'background-color': item.color }">
                                <mat-icon class="icon"> {{item.icon}} </mat-icon>
                            </span>
                            <span style="margin-left: 12px;"> {{item.nameCategoria}} </span>
                        </div>

                        <div class="box-balance-check" style="
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                            ">
                            <span style="font-size: 15px;
                                    color: #b3b6ae;
                                    font-weight: 500;">
                                {{item.name}}
                            </span>
                            <span style="font-size: 15px;
                                        color: #3fad1d;
                                        font-weight: 500;">
                                R$ {{item.balance}}
                            </span>
                        </div>
                    </div>
                    <mat-divider *ngIf="i != (accounts.length-1)"></mat-divider>
                </div>
            </div>

            <div class="card card-left content-card">
                <span class="title-text">
                    Cartões de crédito
                </span>
            </div>

            <div class="card card-left content-card">
                <span class="title-text">
                    Contas a pagar
                </span>

                <mat-list *ngFor="let item of delayedTransactions; let i = index">
                    <mat-list-item>
                        <span [ngStyle]="{'background-color': item.color }" class="dot"></span>

                        <div style="width: 70%;">
                            <span [ngStyle]="{'color': item.color }" class="category-text">{{item.account}} </span> 
                            <span class="subcategory-text sub-text-color">
                                {{item.description}}
                            </span>
                            <br>
                            <span class="expense-date sub-text-color">{{item.date}}</span>
                        </div>

                        <div
                            style="width: 30%; text-align: right; display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">
                            <span class="expense-value sub-text-color">R$ {{item.value}}</span>
                            <mat-icon style="color: #ff7d77; width: 10px; margin-left: 8px; font-size: 19px; cursor: pointer;"
                                (click)="onCheck(item)">thumb_up</mat-icon>
                        </div>
                    </mat-list-item>
                    <mat-divider *ngIf="i != (delayedTransactions.length-1)"></mat-divider>
                </mat-list>
            </div>
        </div>

        <div class="right-box">
            <div class="card card-right content-card">
                <span class="title-text">
                    Top Categorias do mês atual
                </span>
                <br>
                <div echarts [options]="options" class="chart-style"></div>
            </div>

            <div class="card card-right content-card">
                <span class="title-text">
                    Limites do mês atual
                </span>

                <mat-list>
                    <div *ngFor="let item of spendingLimits; let i = index;">
                        <div style="display: flex; align-items: center;">
                            <div echarts [options]="item.chart" class="chart2-style"></div>

                            <div style="width: 70%;">
                                <span class="category-text" [ngStyle]="{'color': item.color }">{{item.name}}</span>
                                <br>
                                <span class="expense-date sub-text-color">Limite: R$ {{item.limit}}</span>
                                <br>
                                <span class="expense-date sub-text-color">Gasto: R$ {{item.spent}}</span>
                            </div>

                            <div
                                style="width: 30%; text-align: right; display: flex; flex-direction: row; justify-content: flex-end;">
                                <span class="expense-value" [ngStyle]="{'color': item.statusColor }" style="font-size: 23px;">{{item.animatedPercent}}%</span>
                            </div>
                        </div>
    
                        <div *ngIf="i != (spendingLimits.length-1)">
                            <br>
                                <mat-divider></mat-divider>
                            <br>
                        </div>
                    </div>
                </mat-list>
            </div>
        </div>
    </div>
</div>