<app-left-menu></app-left-menu>

<div class="general-box">
    <div class="left-box">
        <div class="card card-left hello-card">
            <span class="hello-text">
                OIIII Felipe Ferreira!
                <br><br>
                <span class="money-size">R$ 1.500,00</span>
                <br>
                saldo geral
            </span>
        </div>
        <div class="card card-left"></div>
    </div>

    <div class="right-box">
        <div class="card card-right"></div>
        <div class="card card-right"></div>
    </div>
</div>