<app-left-menu></app-left-menu>

<div class="box-general">
    <div class="box-menu">
        <div class="box-item-menu">
            <span style="font-size: 16px;"> Lançamentos </span>
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onExpense()" class="btn-release btn-expense">Despesa</button>
                <button mat-menu-item (click)="onRevenue()" class="btn-release btn-revenue">Receita</button>
                <button mat-menu-item (click)="onTransfer()" class="btn-release btn-transfer">Transferência</button>
            </mat-menu>
        </div>

        <div class="box-item-menu">
            oi
        </div>

        <div class="box-item-menu box-item-content-right">
            <button mat-icon-button color="primary">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>list</mat-icon>
            </button>
        </div>
    </div>

    <div class="box-filter">

    </div>

    <div class="box-content" *ngFor="let geral of modeloDados; let i = index">

        <div class="box-data">
            <span class="box-content-date"> {{geral.data}} </span>

            <div class="box-content-itens">
                <div class="box-item" *ngFor="let item of geral.gastos" (click)="onViewItem(item)">
                    <div class="box-category-options">
                        <div class="category">
                            <span class="category-icon-circle"
                                [ngStyle]="{'background-color': item.cor }">
                                <mat-icon class="icon"> {{item.icone}} </mat-icon>
                            </span>
                            <span style="margin-left: 12px;"> {{item.nameCategoria}} </span>
                        </div>
                        <div class="options">
                            <mat-icon *ngIf="item.isAnotacao" class="mini-icon"
                                #tooltip="matTooltip"
                                matTooltip={{item.isAnotacao}}
                                matTooltipPosition='below'>chat
                            </mat-icon>

                            <mat-icon *ngIf="item.isAnexo"
                                (click)="onDownloadFile($event)"
                                class="mini-icon"
                                #tooltip="matTooltip"
                                matTooltip={{item.isAnexo.nome}}
                                matTooltipPosition='below'>image
                            </mat-icon>

                            <mat-icon *ngIf="item.isFixo" class="mini-icon"
                                #tooltip="matTooltip"
                                matTooltip="Lançamento fixo"
                                matTooltipPosition='below'>cached
                            </mat-icon>
                        </div>
                    </div>
                    <div class="box-account">
                        {{item.tipoConta}}
                    </div>
                    <div class="box-balance-check">
                        <mat-icon
                            (click)="onCheck($event)" 
                            class="mini-icon ok-icon">
                            thumb_up
                        </mat-icon>
    
                        <span>
                            {{item.valor}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <hr *ngIf="i < modeloDados.length-1" class="simple-horizontal-line">
    </div>
    <hr class="simple-horizontal-line">
    <div class="box-total">
        <div class="box-itens-total">
            <div class="space-between">
                <span style="color: #858782">Saldo</span>
                <span style="font-size: 16px; color: #858782">{{saldo.toFixed(2)}}</span>
            </div>
            <div class="space-between">
                <span style="color: #858782">Previsto</span>
                <span style="font-size: 16px; color: #858782">{{previsto.toFixed(2)}}</span>
            </div>
        </div>
    </div>
</div>
