<app-left-menu></app-left-menu>

<div class="box-general">
    <div class="box-menu">
        <div class="box-item-menu">
            <span style="font-size: 16px;"> Lançamentos </span>
            <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="box-item-menu">
            oi
        </div>

        <div class="box-item-menu box-item-content-right">
            <button mat-icon-button color="primary">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>list</mat-icon>
            </button>
        </div>
    </div>

    <div class="box-filter">

    </div>

    <div class="box-content" *ngFor="let geral of modeloDados">

        <div class="box-data">
            <span class="box-content-date"> {{geral.data}} </span>

            <div class="box-content-itens">
                <div class="box-item" *ngFor="let item of geral.gastos">
                    <div class="box-category-options">
                        <div class="category">
                            <span class="category-icon-circle"
                                [ngStyle]="{'background-color': item.cor }">
                                <mat-icon class="icon"> {{item.icone}} </mat-icon>
                            </span>
                            <span style="margin-left: 12px;"> {{item.nameCategoria}} </span>
                        </div>
                        <div class="options">
                            <mat-icon *ngIf="item.isAnotacao" class="mini-icon"
                                #tooltip="matTooltip"
                                matTooltip={{item.isAnotacao}}
                                matTooltipPosition='below'>chat
                            </mat-icon>

                            <mat-icon *ngIf="item.isAnexo" class="mini-icon"
                                #tooltip="matTooltip"
                                matTooltip={{item.isAnexo.nome}}
                                matTooltipPosition='below'>image
                            </mat-icon>

                            <mat-icon *ngIf="item.isFixo" class="mini-icon"
                                #tooltip="matTooltip"
                                matTooltip="Lançamento fixo"
                                matTooltipPosition='below'>cached
                            </mat-icon>
                        </div>
                    </div>
                    <div class="box-account">
                        {{item.tipoConta}}
                    </div>
                    <div class="box-balance-check">
                        <mat-icon class="mini-icon">
                            thumb_up
                        </mat-icon>
    
                        <span>
                            {{item.valor}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="box-total">
        <div class="box-itens-total">
            <div class="space-between">
                <span style="font-size: 16px;">Saldo</span>
                <span style="font-size: 16px;">500.000,00</span>
            </div>
            <div class="space-between">
                <span style="font-size: 16px;">Previsto</span>
                <span style="font-size: 16px;">498.000,00</span>
            </div>
        </div>
    </div>
</div>


<!--
<mat-card class="aaaaaaaa">
    <div class="release-box">
        <div class="xxxxxxx">
            <span> Lançamentos </span>
            &nbsp;&nbsp;&nbsp;
            <button class="addButton">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="asdasdasdasd">

            <button mat-icon-button aria-label="icon-button with a heart icon">
                <mat-icon class="cinza">chevron_left</mat-icon>
            </button>
            <span class="cinza"> setembroaaa 2022 aaa </span>
            <button mat-icon-button aria-label="icon-button with a heart icon">
                <mat-icon class="cinza">chevron_right</mat-icon>
            </button>
        </div>
    </div>

    <hr>
    <br>

    <mat-accordion class="headers-align" multi>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-description class="receita">
                    Receita
                    &nbsp;&nbsp;&nbsp;
                    <mat-icon>favorite</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>


            <table mat-table [dataSource]="dataSource" class="sdadadadadadaad">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                    <td mat-cell *matCellDef="let element"> R$ {{element.value}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                </tr>
            </table>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-description class="despesas">
                    Despesas
                    <mat-icon>article</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>


            <table mat-table [dataSource]="dataSource" class="sdadadadadadaad">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                </tr>
            </table>

        </mat-expansion-panel>
    </mat-accordion>

</mat-card>
<div><br></div>
-->
