<app-left-menu></app-left-menu>


<div class="box-general">
    <div class="box-menu">

        <div class="carousel-container">
            <div class="carousel">
                <button *ngFor="let filtro of filtros" [ngClass]="{'active': filtroSelecionado === filtro}"
                    class="carousel-button" (click)="selecionarFiltro(filtro)">

                    {{ filtro.label | titlecase }}
                    <span class="contador">({{ filtro.total }})</span>

                </button>
            </div>
        </div>

    </div>

    <div class="box-filter">

    </div>

    <div class="box-content" *ngFor="let data of dataSource; let i = index">

        <div class="box-data">
            <span class="box-content-date"> {{data.date}} </span>

            <div class="box-content-itens">
                <div class="box-item" *ngFor="let item of data.gastos">
                    <span class="category-icon-circle" [ngStyle]="{'background-color': item.cor }">
                        <mat-icon class="icon"> {{item.icone}} </mat-icon>
                    </span>
                    <div class="box-category-options">
                        <div class="category">
                            
                            <span style="margin-left: 12px;"> {{item.description}} </span>
                        </div>

                    </div>
                    <div class="box-account">
                        
                    </div>

                    <div class="box-balance-check">
                        <mat-icon (click)="onCheck($event, item.obj)" [ngClass]="{
                                'aprovada': item.paidDate !== null,
                                'pendente': item.paidDate === null
                            }">
                            thumb_up
                        </mat-icon>

                        <span>
                            {{item.valor}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <hr *ngIf="i < dataSource.length-1" class="simple-horizontal-line">
    </div>
    <hr class="simple-horizontal-line">
    <div class="box-total">
        <div class="box-itens-total">
            <div class="space-between">
                <span style="color: #858782">Total Receita</span>
                <span style="font-size: 16px; color: #858782">{{totalReceita.toFixed(2)}}</span>
            </div>
            <div class="space-between">
                <span style="color: #858782">Total Despesas</span>
                <span style="font-size: 16px; color: #858782">{{totalDespesa.toFixed(2)}}</span>
            </div>
        </div>
    </div>
</div>

<button mat-fab color="accent" class="floating-button left" (click)="fileInput.click()">
    <mat-icon>upload_file</mat-icon>
  </button>

<button mat-fab color="primary" class="floating-button right" (click)="salvar()">
    <mat-icon>save</mat-icon>
</button>

<div>
    <br><br>
    <br><br>
    <br><br>
</div>

<input 
  type="file" 
  #fileInput 
  hidden 
  (change)="handleFileUpload($event)" />