<form #form="ngForm" (ngSubmit)="onSave(form)">

    <div>

        <div class="example-box">
            <span class="category-icon-circle icon-box" [ngStyle]="styleColor"><mat-icon class="icon">{{account.icon}}</mat-icon></span>
            &nbsp;
            <span>{{account.name}}</span>
        </div>

        <br><br>

        <label for="favcolor">Selecione a cor do circulo:</label>&nbsp;
        <input type="color" name="color" (change)="changeColor()" [(ngModel)]="account.color">

        <br><br>

        <mat-form-field appearance="outline">
            <mat-label>Icone</mat-label>
            <input [(ngModel)]="account.icon" name="icon" matInput placeholder="Exemplo: love">
        </mat-form-field>
        Icones:&nbsp;
        <a href="https://fonts.google.com/icons" target="_blank">google icons</a>

        <br>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome da conta</mat-label>
            <input required [(ngModel)]="account.name" name="name" matInput placeholder="Exemplo: NuBank">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="account.addOverall" name="overall" class="example-margin" style="color: #858782;">Não somar no Saldo Geral</mat-checkbox>


    </div>
    <br>
    <br>

    <div style="text-align: center;">
        <button mat-flat-button (click)="onClose()" color="warn">Cancelar</button>
        &nbsp;
        <button mat-flat-button type="submit" [disabled]="!form.valid" color="primary">Salvar</button>
    </div>

</form>