<div style="max-width: 350px; padding: 10px 5px; height: auto;">


    <div class="example-box">
        <span class="card-icon-circle icon-box" [ngStyle]="styleColor"><mat-icon class="icon">{{category.icon}}</mat-icon></span>
        &nbsp;
        <span>{{category.name}}</span>
    </div>

    <br><br>

    <label for="favcolor">Selecione a cor do circulo:</label>&nbsp;
    <input type="color" (change)="changeColor()" [(ngModel)]="category.color">

    <br><br>

    <mat-form-field appearance="legacy">
        <mat-label>Icone</mat-label>
        <input [(ngModel)]="category.icon" matInput placeholder="Exemplo: love">
    </mat-form-field>
    Icones:&nbsp;
    <a href="https://fonts.google.com/icons" target="_blank">google icons</a>

    <br><br>
    <hr class="simple-horizontal-line">
    <br><br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome do cartão</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Limite</mat-label>
        <input [(ngModel)]="value" appCurrencyMask matInput>
    </mat-form-field>

    <div class="form-group">
        <mat-form-field class="example-half-width" appearance="fill">
            <mat-label>Fecha dia</mat-label>
            <mat-select>
                <mat-option *ngFor="let day of days" value="day">
                    {{day}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-half-width" appearance="fill">
            <mat-label>Vence dia</mat-label>
            <mat-select>
                <mat-option *ngFor="let day of days" value="day">
                    {{day}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Conta de pagamento padrão</mat-label>
        <mat-select>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">22</mat-option>
            <mat-option value="3">333</mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>
    <hr class="simple-horizontal-line">
    <br><br>

    <div style="text-align: center;">
        <button mat-flat-button color="primary">Salvar</button>
        &nbsp;
        <button mat-flat-button color="warn">Cancelar</button>
    </div>
</div>
