.box-general {
    margin: auto;
    height: auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
}

.mat-tab-group {
    width: 100%;
}

.box-load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}