<div mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company (disabled)</mat-label>
        <input matInput value="Google">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>